body{
    background: #004A92 url(../images/imgFondo1.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-size: 15pt;
    line-height: 1.5;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
}

.contenedor{
    width: 100%;

    margin: 0 auto;
}
span{
    text-align: center;
    display: block;
}
.caja{
    background-color: rgba(221, 230, 253, 0.822);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
}
.tit{
    min-height: 100px;
}
.tit h1{
    color: #cde5fc;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
}
.tit h2{
    color: #fcf5cd;
    text-align: center;
    font-weight: bold;
}
.tit .sub1{
    background-color: #0A943B;
    color: #fff;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 10px;
}
.tit .sub2{
    background-color: #E42276;
    color: #fff;
    display: block;
    float: left;
    padding: 10px 20px;
    border-radius: 10px;
}
.titact{
    color: rgb(21, 212, 31);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.caja2{
    background-color: #2c333f;
    color: seashell;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 45px -9px rgba(0, 0, 0, 0.6);
}
.elmenu{
    background-color: #0a4dc2;
}
.submenu{
    color: #ffffff;
    background-color: #0a4dc2;
}
.submenu:hover{
    color: #ffffff;
    background-color: #9c2bf8;
}
b{
    color: tomato;
}
.suma{
    background-color: #FD5555;
    
    color: rgb(221, 48, 25);
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px;
}
.resta{
    background-color: #FFC926;
    color: rgb(26, 25, 25);
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px;
}
.multi{
    background-color: #34aa8d;
    color: white;
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px;
}
.divi{
    background-color: #139FFD;
    color: white;
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px;
}
.txtbox{
    font-size: 20pt;
}
