form
{
    width: 100%;
    height: 390px;
    text-align: center;
    border: solid 1px #0c0c0c;
    padding-bottom: 7px;
    margin: auto;
    background-color: rgb(144, 240, 80);
    border-radius: 25px;
    box-shadow: 7px 7px 25px slategray;
}
input[type=baner]
{
    width: 55%;
    padding: 15px 30px;
    font-size: 15px; 
    margin: 10px o;
    border: 1px solid darkgreen;
    border-radius: 1px;
    text-align: left;
    color: rgb(red, green, blue);
    background: blue;
    border-radius: 15px;
}
input[type=button], 
input[type=submit], 
input[type=reset]
{
background: linear-gradient(rgb(235, 189, 64),rgb(205, 240, 160));
border: none;
color:black;
width:100px;
height:40px;
font-weight: bold;
font-size: 25px;
min-width: 20%;
text-decoration: none;
margin: 3px 3px;
cursor: pointer;
border-radius: 40px;
box-shadow: 3px 3px 5px goldenrod;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover
{
    background-color: rgb(228, 167, 76);
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover
{
    background-color: rgb(228, 167, 76);
}
.letra
{
    font-family: black;
    font-size: 50px;
}
body
{
    background-color: greenyellow;
}
